<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Productos</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet"
	th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
<link rel="stylesheet"
	th:href="@{/resources/alertifyjs/css/alertify.css}">
<link rel="stylesheet"
	th:href="@{/resources/alertifyjs/css/alertify.min.css}">

<style>
.modal-header, h4, .close {
	background-color: #286090;
	color: white !important;
	text-align: center;
	font-size: 20px;
}

.help-block {
	color: red;
	/*display: none;*/
}

.form-group.has-error .form-control-label {
	color: red;
}

.form-group.has-error .form-control {
	border: 1px solid red;
	box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
}

.alertify .ajs-dialog {
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
}

.ajs-header {
	background-color: #286090 !important;
	color: white !important;
	/*text-align: center;*/
	font-size: 18px;
	font-weight: bold;
}

.ajs-ok {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.ajs-cancel {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-primary {
	background-color: #286090 !important;
}

.dataTables_length, .dataTables_info {
	display: none;
}

.modal-lg, .modal-xl {
	max-width: 900px;
	max-height: 800px;
}

.form-control-feedback2 {
	margin: 1px;
	position: absolute;
	padding: 10px;
	pointer-events: none;
	background-color: #e9ecef;
	border-style: none;
}

.form-control-feedback3 {
	margin: 1px;
	position: absolute;
	margin-left: 225px;
	padding: 10px;
	pointer-events: none;
	background-color: #e9ecef;
	border-style: none;
}

.form-control {
	padding-left: 40px !important;
}
/*.toast-succes{
		width: 120px;
	}*/
</style>
</head>
<body th:if="${cargo!='Administrador'}">
	<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
		<a class="navbar-brand" href="#">Tienda</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Principal
				</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="/producto/listado">Productos </a></li>
				<li class="nav-item active" th:if="${cargo==null}"><a
					class="nav-link" href="/usuario/registro">Registrarme </a></li>
				<li class="nav-item active" th:if="${cargo!=null}"><a
					class="nav-link" href="/boleta/">Boleta </a></li>
				<li class="nav-item active" th:if="${cargo!=null}"><a
					class="nav-link" href="/boleta/pedidos">Pedidos </a></li>
				<li class="nav-item dropdown active"
					th:if="${cargo=='Administrador'}"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Mantenimientos </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/producto/mantenimiento">Mantenimiento
							Productos</a> <a class="dropdown-item" href="/cliente/mantenimiento">Mantenimiento
							Clientes</a> <a class="dropdown-item" href="/empleado/mantenimiento">Mantenimiento
							Empleados</a>
					</div></li>
			</ul>
			<form th:if="${cargo!=null}" th:action="@{/salir}"
				class="form-inline my-2 my-lg-0">
				<button class="btn btn-outline my-2 my-sm-0"
					style="background-color: #0069d9; color: white;" type="submit">Salir</button>
			</form>
			<form th:if="${cargo==null}" th:action="@{/login}"
				class="form-inline my-2 my-lg-0">
				<button class="btn btn-outline my-2 my-sm-0"
					style="background-color: #0069d9; color: white;" type="submit">Ingresar</button>
			</form>
		</div>
	</nav>

	<div class="container">
		<h3 class="text-center mt-4">PRODUCTOS</h3>
                <h4 class="text-center mt-4">Tecnologia para Ti y los tuyos </h4>
		<div class="row">
			<div class="col-lg-4 col-md-6 mt-md-5 mt-4"
				th:each="bean:${productos}">
				<article id="post-40"
					class="post-40 post type-post status-publish format-standard has-post-thumbnail hentry category-learning">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<img width="100%" height="100%"
								style="border-top-right-radius: 3px;"
								src="/resources/images/fondo-dswii.jpg"
								class="attachment-post-thumbnail size-post-thumbnail wp-post-image">
						</div>
						<div class="card-body blog-details">
							<a th:text="${bean.descripcion}"></a>
							<div class="dropdown-divider"></div>
							<div class="author align-items-center">
								<ul class="blog-meta">
									<li><a
										href="https://wp.w3layouts.com/digitaledu/author/w3layouts/">
									</a>S/. <a th:text="${bean.precio}"></a></li>
									<li class="meta-item blog-lesson"><span class="meta-value">
											Stock: </span><a th:text="${bean.stockAct}"></a></li>
								</ul>
							</div>
						</div>
						<form th:action="@{/boleta/agregarSeleccion}"
							style="display: flex; justify-content: center;">
							<input type="hidden" id="idProducto" name="idProducto"
								th:value="${bean.idProducto}"> <input type="hidden"
								id="idDescripcion" name="descripcion"
								th:value="${bean.descripcion}"> <input type="hidden"
								id="idPrecio" name="precio" th:value="${bean.precio}">
							<button class="btn btn-primary btn-style mt-4" type="submit">Agregar
								al Carrito</button>
						</form>
						<br>
					</div>
                                    
				</article>
                            
			</div>
                    
		</div>
                <!-- Footer -->
                <footer class="page-footer font-small blue pt-4 bg-dark">

                    <!-- Footer Links -->
                    <div class="container-fluid text-center text-md-left">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6 mt-md-0 mt-3">

                                <!-- Content -->
                                <h5 class="text-uppercase text-white">Contactenos</h5>
                                <p class="text-white">Espero que este contento con el objetivo .</p>

                            </div>
                            <!-- Grid column -->

                            <hr class="clearfix w-100 d-md-none pb-3">

                            <!-- Grid column -->
                            <div class="col-md-3 mb-md-0 mb-3">

                                <!-- Links -->
                                <h5 class="text-uppercase text-white">Metodos de Pago</h5>

                                <ul class="list-unstyled">
                                    <li>
                                        <a class="fa fa-paypal text-white" href="#!"> Paypal</a>
                                    </li>
                                    <li>
                                        <a class="fa fa-cc-amex text-white" href="#!"> Amazon</a>
                                    </li>
                                    <li>
                                        <a class="fa fa-apple-pay text-white" href="#!"> Apple</a>
                                    </li>
                                    <li>
                                        <a class="fa fa-play text-white" href="#!"> Efectivo</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-3 mb-md-0 mb-3">

                                <!-- Links -->
                                <h5 class="text-uppercase text-white">Nuestras redes</h5>

                                <ul class="list-unstyled">
                                    <li>
                                        <a class="fa fa-google text-white" href="#!"> Google</a>
                                    </li>
                                    <li>
                                        <a class="fa fa-twitter text-white" href="#!"> Twitter</a>
                                    </li>
                                    <li>
                                        <a class="fa fa-instagram text-white" href="#!"> Instagram</a>
                                    </li>
                                    <li>
                                        <a class="fa fa-twitch text-white" href="#!"> Twitch</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </div>
                    <!-- Footer Links -->

                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
                        <a href="#"> Mi TecFound</a>
                    </div>
                    <!-- Copyright -->

                </footer>
<!-- Footer -->

	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>
	<script
		src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	<script th:src="@{/resources/sweetalert/sweetalert.min.js}"></script>

	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//obtener atributo MENSAJE
		var mensaje = /*[[${MENSAJE}]]*/null;

		toastr.success(mensaje, toastr.options = {
			"timeOut" : "2000",
			"positionClass " : " toast-top-right ",
		});
	</script>

<script>
  window.watsonAssistantChatOptions = {
      integrationID: "1b951582-e939-4aea-85db-39e17fa4bda0", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "2dc15e34-0c04-47c5-9a08-7019d19362bd", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
</body>
</html>